In [1]:
import numpy as np
import pandas as pd
from pathlib import Path

In [3]:
train_df = pd.read_csv(Path('Resources/2019loans.csv'))
test_df = pd.read_csv(Path('Resources/2020Q1loans.csv'))

### checking columns for the 2 dfs

In [12]:
train_cols=train_df.columns
test_cols=test_df.columns
train_types = train_df.dtypes
test_types= test_df.dtypes

In [19]:
df_compare = list(zip(train_cols, train_types, test_cols, test_types))
df_compare

[('loan_amnt', dtype('float64'), 'loan_amnt', dtype('float64')),
 ('int_rate', dtype('float64'), 'int_rate', dtype('float64')),
 ('installment', dtype('float64'), 'installment', dtype('float64')),
 ('home_ownership', dtype('O'), 'home_ownership', dtype('O')),
 ('annual_inc', dtype('float64'), 'annual_inc', dtype('float64')),
 ('verification_status', dtype('O'), 'verification_status', dtype('O')),
 ('pymnt_plan', dtype('O'), 'pymnt_plan', dtype('O')),
 ('dti', dtype('float64'), 'dti', dtype('float64')),
 ('delinq_2yrs', dtype('float64'), 'delinq_2yrs', dtype('float64')),
 ('inq_last_6mths', dtype('float64'), 'inq_last_6mths', dtype('float64')),
 ('open_acc', dtype('float64'), 'open_acc', dtype('float64')),
 ('pub_rec', dtype('float64'), 'pub_rec', dtype('float64')),
 ('revol_bal', dtype('float64'), 'revol_bal', dtype('float64')),
 ('total_acc', dtype('float64'), 'total_acc', dtype('float64')),
 ('initial_list_status', dtype('O'), 'initial_list_status', dtype('O')),
 ('out_prncp', dtype('float64'), 'out_prncp', dtype('float64')),
 ('out_prncp_inv', dtype('float64'), 'out_prncp_inv', dtype('float64')),
 ('total_pymnt', dtype('float64'), 'total_pymnt', dtype('float64')),
 ('total_pymnt_inv', dtype('float64'), 'total_pymnt_inv', dtype('float64')),
 ('total_rec_prncp', dtype('float64'), 'total_rec_prncp', dtype('float64')),
 ('total_rec_int', dtype('float64'), 'total_rec_int', dtype('float64')),
 ('total_rec_late_fee',
  dtype('float64'),
  'total_rec_late_fee',
  dtype('float64')),
 ('recoveries', dtype('float64'), 'recoveries', dtype('float64')),
 ('collection_recovery_fee',
  dtype('float64'),
  'collection_recovery_fee',
  dtype('float64')),
 ('last_pymnt_amnt', dtype('float64'), 'last_pymnt_amnt', dtype('float64')),
 ('collections_12_mths_ex_med',
  dtype('float64'),
  'collections_12_mths_ex_med',
  dtype('float64')),
 ('policy_code', dtype('float64'), 'policy_code', dtype('float64')),
 ('application_type', dtype('O'), 'application_type', dtype('O')),
 ('acc_now_delinq', dtype('float64'), 'acc_now_delinq', dtype('float64')),
 ('tot_coll_amt', dtype('float64'), 'tot_coll_amt', dtype('float64')),
 ('tot_cur_bal', dtype('float64'), 'tot_cur_bal', dtype('float64')),
 ('open_acc_6m', dtype('float64'), 'open_acc_6m', dtype('float64')),
 ('open_act_il', dtype('float64'), 'open_act_il', dtype('float64')),
 ('open_il_12m', dtype('float64'), 'open_il_12m', dtype('float64')),
 ('open_il_24m', dtype('float64'), 'open_il_24m', dtype('float64')),
 ('mths_since_rcnt_il',
  dtype('float64'),
  'mths_since_rcnt_il',
  dtype('float64')),
 ('total_bal_il', dtype('float64'), 'total_bal_il', dtype('float64')),
 ('il_util', dtype('float64'), 'il_util', dtype('float64')),
 ('open_rv_12m', dtype('float64'), 'open_rv_12m', dtype('float64')),
 ('open_rv_24m', dtype('float64'), 'open_rv_24m', dtype('float64')),
 ('max_bal_bc', dtype('float64'), 'max_bal_bc', dtype('float64')),
 ('all_util', dtype('float64'), 'all_util', dtype('float64')),
 ('total_rev_hi_lim', dtype('float64'), 'total_rev_hi_lim', dtype('float64')),
 ('inq_fi', dtype('float64'), 'inq_fi', dtype('float64')),
 ('total_cu_tl', dtype('float64'), 'total_cu_tl', dtype('float64')),
 ('inq_last_12m', dtype('float64'), 'inq_last_12m', dtype('float64')),
 ('acc_open_past_24mths',
  dtype('float64'),
  'acc_open_past_24mths',
  dtype('float64')),
 ('avg_cur_bal', dtype('float64'), 'avg_cur_bal', dtype('float64')),
 ('bc_open_to_buy', dtype('float64'), 'bc_open_to_buy', dtype('float64')),
 ('bc_util', dtype('float64'), 'bc_util', dtype('float64')),
 ('chargeoff_within_12_mths',
  dtype('float64'),
  'chargeoff_within_12_mths',
  dtype('float64')),
 ('delinq_amnt', dtype('float64'), 'delinq_amnt', dtype('float64')),
 ('mo_sin_old_il_acct',
  dtype('float64'),
  'mo_sin_old_il_acct',
  dtype('float64')),
 ('mo_sin_old_rev_tl_op',
  dtype('float64'),
  'mo_sin_old_rev_tl_op',
  dtype('float64')),
 ('mo_sin_rcnt_rev_tl_op',
  dtype('float64'),
  'mo_sin_rcnt_rev_tl_op',
  dtype('float64')),
 ('mo_sin_rcnt_tl', dtype('float64'), 'mo_sin_rcnt_tl', dtype('float64')),
 ('mort_acc', dtype('float64'), 'mort_acc', dtype('float64')),
 ('mths_since_recent_bc',
  dtype('float64'),
  'mths_since_recent_bc',
  dtype('float64')),
 ('mths_since_recent_inq',
  dtype('float64'),
  'mths_since_recent_inq',
  dtype('float64')),
 ('num_accts_ever_120_pd',
  dtype('float64'),
  'num_accts_ever_120_pd',
  dtype('float64')),
 ('num_actv_bc_tl', dtype('float64'), 'num_actv_bc_tl', dtype('float64')),
 ('num_actv_rev_tl', dtype('float64'), 'num_actv_rev_tl', dtype('float64')),
 ('num_bc_sats', dtype('float64'), 'num_bc_sats', dtype('float64')),
 ('num_bc_tl', dtype('float64'), 'num_bc_tl', dtype('float64')),
 ('num_il_tl', dtype('float64'), 'num_il_tl', dtype('float64')),
 ('num_op_rev_tl', dtype('float64'), 'num_op_rev_tl', dtype('float64')),
 ('num_rev_accts', dtype('float64'), 'num_rev_accts', dtype('float64')),
 ('num_rev_tl_bal_gt_0',
  dtype('float64'),
  'num_rev_tl_bal_gt_0',
  dtype('float64')),
 ('num_sats', dtype('float64'), 'num_sats', dtype('float64')),
 ('num_tl_120dpd_2m', dtype('float64'), 'num_tl_120dpd_2m', dtype('float64')),
 ('num_tl_30dpd', dtype('float64'), 'num_tl_30dpd', dtype('float64')),
 ('num_tl_90g_dpd_24m',
  dtype('float64'),
  'num_tl_90g_dpd_24m',
  dtype('float64')),
 ('num_tl_op_past_12m',
  dtype('float64'),
  'num_tl_op_past_12m',
  dtype('float64')),
 ('pct_tl_nvr_dlq', dtype('float64'), 'pct_tl_nvr_dlq', dtype('float64')),
 ('percent_bc_gt_75', dtype('float64'), 'percent_bc_gt_75', dtype('float64')),
 ('pub_rec_bankruptcies',
  dtype('float64'),
  'pub_rec_bankruptcies',
  dtype('float64')),
 ('tax_liens', dtype('float64'), 'tax_liens', dtype('float64')),
 ('tot_hi_cred_lim', dtype('float64'), 'tot_hi_cred_lim', dtype('float64')),
 ('total_bal_ex_mort',
  dtype('float64'),
  'total_bal_ex_mort',
  dtype('float64')),
 ('total_bc_limit', dtype('float64'), 'total_bc_limit', dtype('float64')),
 ('total_il_high_credit_limit',
  dtype('float64'),
  'total_il_high_credit_limit',
  dtype('float64')),
 ('hardship_flag', dtype('O'), 'hardship_flag', dtype('O')),
 ('debt_settlement_flag', dtype('O'), 'debt_settlement_flag', dtype('O')),
 ('target', dtype('O'), 'target', dtype('O'))]

### Convert categorical data to numeric and separate target feature for training data

In [26]:
train_convert_df = pd.get_dummies(train_df)
train_convert_df.head(25)

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,initial_list_status_f,initial_list_status_w,application_type_Individual,application_type_Joint App,hardship_flag_N,hardship_flag_Y,debt_settlement_flag_N,debt_settlement_flag_Y,target_high_risk,target_low_risk
0,7000.0,0.1894,256.38,75000.0,28.62,0.0,2.0,20.0,0.0,40414.0,...,1,0,1,0,1,0,1,0,0,1
1,40000.0,0.1614,975.71,102000.0,11.72,2.0,0.0,10.0,0.0,43531.0,...,0,1,1,0,1,0,1,0,0,1
2,11000.0,0.2055,294.81,45000.0,37.25,1.0,3.0,23.0,0.0,8242.0,...,0,1,1,0,1,0,1,0,0,1
3,4000.0,0.1612,140.87,38000.0,42.89,1.0,0.0,7.0,0.0,12767.0,...,0,1,0,1,1,0,1,0,0,1
4,14000.0,0.1797,505.93,43000.0,22.16,1.0,0.0,22.0,0.0,11182.0,...,0,1,1,0,1,0,1,0,0,1
5,6000.0,0.0756,186.81,90500.0,23.48,0.0,0.0,9.0,0.0,7092.0,...,0,1,1,0,1,0,1,0,0,1
6,10500.0,0.2250,293.00,32000.0,16.09,0.0,1.0,10.0,0.0,2269.0,...,0,1,1,0,1,0,1,0,0,1
7,22000.0,0.0819,448.09,92000.0,22.87,0.0,0.0,17.0,0.0,26020.0,...,0,1,1,0,1,0,1,0,0,1
8,10625.0,0.2055,284.76,54100.0,15.53,0.0,2.0,8.0,0.0,9371.0,...,0,1,0,1,1,0,1,0,0,1
9,20000.0,0.2534,591.02,38000.0,19.68,0.0,0.0,4.0,0.0,20770.0,...,0,1,1,0,1,0,1,0,0,1
10,10000.0,0.0881,317.12,192000.0,17.93,0.0,0.0,16.0,0.0,25101.0,...,0,1,1,0,1,0,1,0,0,1
11,5000.0,0.0702,154.44,60000.0,14.56,0.0,0.0,8.0,0.0,478.0,...,0,1,0,1,1,0,1,0,0,1
12,22000.0,0.1180,487.16,120000.0,9.89,0.0,0.0,10.0,0.0,22264.0,...,0,1,1,0,1,0,1,0,0,1
13,8500.0,0.1102,278.36,85000.0,28.02,0.0,0.0,12.0,1.0,13072.0,...,0,1,1,0,1,0,1,0,0,1
14,10625.0,0.1524,369.57,62000.0,11.81,0.0,0.0,8.0,0.0,9415.0,...,0,1,1,0,1,0,1,0,0,1
15,20800.0,0.1308,474.12,65000.0,24.54,0.0,1.0,15.0,1.0,13103.0,...,0,1,1,0,1,0,1,0,0,1
16,28000.0,0.1474,662.31,92000.0,10.14,0.0,0.0,8.0,0.0,13822.0,...,0,1,1,0,1,0,1,0,0,1
17,7500.0,0.2089,282.14,75000.0,25.25,2.0,0.0,18.0,0.0,25506.0,...,0,1,1,0,1,0,1,0,0,1
18,10000.0,0.1894,366.26,150000.0,21.66,2.0,0.0,13.0,0.0,23668.0,...,0,1,1,0,1,0,1,0,0,1
19,20500.0,0.1502,487.91,70000.0,13.32,0.0,0.0,5.0,0.0,7542.0,...,0,1,0,1,1,0,1,0,0,1
20,15000.0,0.2000,397.41,50000.0,25.71,0.0,0.0,7.0,0.0,11006.0,...,0,1,1,0,1,0,1,0,0,1
21,16000.0,0.0646,490.10,50000.0,25.04,0.0,0.0,12.0,0.0,12057.0,...,0,1,1,0,1,0,1,0,0,1
22,6000.0,0.1240,200.44,62000.0,38.50,0.0,1.0,14.0,0.0,38076.0,...,0,1,1,0,1,0,1,0,0,1
23,35000.0,0.1033,1134.79,150000.0,23.48,0.0,0.0,12.0,0.0,31585.0,...,0,1,1,0,1,0,1,0,0,1
24,18000.0,0.1240,404.05,66000.0,35.53,0.0,0.0,10.0,0.0,20318.0,...,1,0,1,0,1,0,1,0,0,1

In [22]:
train_con_cols = train_convert_df.columns

### Convert categorical data to numeric and separate target feature for testing data

In [23]:
test_convert_df = pd.get_dummies(test_df)
test_convert_df.head()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,pymnt_plan_n,initial_list_status_f,initial_list_status_w,application_type_Individual,application_type_Joint App,hardship_flag_N,hardship_flag_Y,debt_settlement_flag_N,target_high_risk,target_low_risk
0,40000.0,0.1033,856.40,128700.0,12.47,0.0,1.0,8.0,0.0,38113.0,...,1,0,1,1,0,0,1,1,0,1
1,24450.0,0.1430,572.72,44574.0,15.05,0.0,1.0,6.0,0.0,1665.0,...,1,0,1,1,0,1,0,1,0,1
2,13500.0,0.1430,316.23,60000.0,28.72,0.0,0.0,8.0,0.0,13857.0,...,1,0,1,1,0,0,1,1,0,1
3,10625.0,0.1774,268.31,60000.0,15.70,0.0,4.0,17.0,0.0,6216.0,...,1,0,1,1,0,1,0,1,0,1
4,6375.0,0.1862,232.46,60000.0,35.50,0.0,0.0,13.0,0.0,12681.0,...,1,0,1,1,0,1,0,1,0,1

In [25]:
test_con_cols = test_convert_df.columns
converted_compare = list(zip(train_con_cols, test_con_cols))
converted_compare

[('loan_amnt', 'loan_amnt'),
 ('int_rate', 'int_rate'),
 ('installment', 'installment'),
 ('annual_inc', 'annual_inc'),
 ('dti', 'dti'),
 ('delinq_2yrs', 'delinq_2yrs'),
 ('inq_last_6mths', 'inq_last_6mths'),
 ('open_acc', 'open_acc'),
 ('pub_rec', 'pub_rec'),
 ('revol_bal', 'revol_bal'),
 ('total_acc', 'total_acc'),
 ('out_prncp', 'out_prncp'),
 ('out_prncp_inv', 'out_prncp_inv'),
 ('total_pymnt', 'total_pymnt'),
 ('total_pymnt_inv', 'total_pymnt_inv'),
 ('total_rec_prncp', 'total_rec_prncp'),
 ('total_rec_int', 'total_rec_int'),
 ('total_rec_late_fee', 'total_rec_late_fee'),
 ('recoveries', 'recoveries'),
 ('collection_recovery_fee', 'collection_recovery_fee'),
 ('last_pymnt_amnt', 'last_pymnt_amnt'),
 ('collections_12_mths_ex_med', 'collections_12_mths_ex_med'),
 ('policy_code', 'policy_code'),
 ('acc_now_delinq', 'acc_now_delinq'),
 ('tot_coll_amt', 'tot_coll_amt'),
 ('tot_cur_bal', 'tot_cur_bal'),
 ('open_acc_6m', 'open_acc_6m'),
 ('open_act_il', 'open_act_il'),
 ('open_il_12m', 'open_il_12m'),
 ('open_il_24m', 'open_il_24m'),
 ('mths_since_rcnt_il', 'mths_since_rcnt_il'),
 ('total_bal_il', 'total_bal_il'),
 ('il_util', 'il_util'),
 ('open_rv_12m', 'open_rv_12m'),
 ('open_rv_24m', 'open_rv_24m'),
 ('max_bal_bc', 'max_bal_bc'),
 ('all_util', 'all_util'),
 ('total_rev_hi_lim', 'total_rev_hi_lim'),
 ('inq_fi', 'inq_fi'),
 ('total_cu_tl', 'total_cu_tl'),
 ('inq_last_12m', 'inq_last_12m'),
 ('acc_open_past_24mths', 'acc_open_past_24mths'),
 ('avg_cur_bal', 'avg_cur_bal'),
 ('bc_open_to_buy', 'bc_open_to_buy'),
 ('bc_util', 'bc_util'),
 ('chargeoff_within_12_mths', 'chargeoff_within_12_mths'),
 ('delinq_amnt', 'delinq_amnt'),
 ('mo_sin_old_il_acct', 'mo_sin_old_il_acct'),
 ('mo_sin_old_rev_tl_op', 'mo_sin_old_rev_tl_op'),
 ('mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_rev_tl_op'),
 ('mo_sin_rcnt_tl', 'mo_sin_rcnt_tl'),
 ('mort_acc', 'mort_acc'),
 ('mths_since_recent_bc', 'mths_since_recent_bc'),
 ('mths_since_recent_inq', 'mths_since_recent_inq'),
 ('num_accts_ever_120_pd', 'num_accts_ever_120_pd'),
 ('num_actv_bc_tl', 'num_actv_bc_tl'),
 ('num_actv_rev_tl', 'num_actv_rev_tl'),
 ('num_bc_sats', 'num_bc_sats'),
 ('num_bc_tl', 'num_bc_tl'),
 ('num_il_tl', 'num_il_tl'),
 ('num_op_rev_tl', 'num_op_rev_tl'),
 ('num_rev_accts', 'num_rev_accts'),
 ('num_rev_tl_bal_gt_0', 'num_rev_tl_bal_gt_0'),
 ('num_sats', 'num_sats'),
 ('num_tl_120dpd_2m', 'num_tl_120dpd_2m'),
 ('num_tl_30dpd', 'num_tl_30dpd'),
 ('num_tl_90g_dpd_24m', 'num_tl_90g_dpd_24m'),
 ('num_tl_op_past_12m', 'num_tl_op_past_12m'),
 ('pct_tl_nvr_dlq', 'pct_tl_nvr_dlq'),
 ('percent_bc_gt_75', 'percent_bc_gt_75'),
 ('pub_rec_bankruptcies', 'pub_rec_bankruptcies'),
 ('tax_liens', 'tax_liens'),
 ('tot_hi_cred_lim', 'tot_hi_cred_lim'),
 ('total_bal_ex_mort', 'total_bal_ex_mort'),
 ('total_bc_limit', 'total_bc_limit'),
 ('total_il_high_credit_limit', 'total_il_high_credit_limit'),
 ('home_ownership_ANY', 'home_ownership_ANY'),
 ('home_ownership_MORTGAGE', 'home_ownership_MORTGAGE'),
 ('home_ownership_OWN', 'home_ownership_OWN'),
 ('home_ownership_RENT', 'home_ownership_RENT'),
 ('verification_status_Not Verified', 'verification_status_Not Verified'),
 ('verification_status_Source Verified',
  'verification_status_Source Verified'),
 ('verification_status_Verified', 'verification_status_Verified'),
 ('pymnt_plan_n', 'pymnt_plan_n'),
 ('initial_list_status_f', 'initial_list_status_f'),
 ('initial_list_status_w', 'initial_list_status_w'),
 ('application_type_Individual', 'application_type_Individual'),
 ('application_type_Joint App', 'application_type_Joint App'),
 ('hardship_flag_N', 'hardship_flag_N'),
 ('hardship_flag_Y', 'hardship_flag_Y'),
 ('debt_settlement_flag_N', 'debt_settlement_flag_N'),
 ('debt_settlement_flag_Y', 'target_high_risk'),
 ('target_high_risk', 'target_low_risk')]

### add missing dummy variables to testing set

In [34]:
test_convert_df['debt_settlement_flag_Y'] = np.where(test_convert_df['debt_settlement_flag_N'] == 1, 0, 1)
test_convert_df.head()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,initial_list_status_f,initial_list_status_w,application_type_Individual,application_type_Joint App,hardship_flag_N,hardship_flag_Y,debt_settlement_flag_N,target_high_risk,target_low_risk,debt_settlement_flag_Y
0,40000.0,0.1033,856.40,128700.0,12.47,0.0,1.0,8.0,0.0,38113.0,...,0,1,1,0,0,1,1,0,1,0
1,24450.0,0.1430,572.72,44574.0,15.05,0.0,1.0,6.0,0.0,1665.0,...,0,1,1,0,1,0,1,0,1,0
2,13500.0,0.1430,316.23,60000.0,28.72,0.0,0.0,8.0,0.0,13857.0,...,0,1,1,0,0,1,1,0,1,0
3,10625.0,0.1774,268.31,60000.0,15.70,0.0,4.0,17.0,0.0,6216.0,...,0,1,1,0,1,0,1,0,1,0
4,6375.0,0.1862,232.46,60000.0,35.50,0.0,0.0,13.0,0.0,12681.0,...,0,1,1,0,1,0,1,0,1,0

In [ ]:
# Train the Logistic Regression model on the unscaled data and print the model score

In [ ]:
# Train a Random Forest Classifier model and print the model score

In [ ]:
# Scale the data

In [ ]:
# Train the Logistic Regression model on the scaled data and print the model score

In [ ]:
# Train a Random Forest Classifier model on the scaled data and print the model score